In [1]:
l = [1,2,3,4,"shah",'wali',1.4]

In [2]:
for i in l :
    print(i)

1
2
3
4
shah
wali
1.4

In [3]:
for i in l:  # if you do this they will give error

SyntaxError: unexpected EOF while parsing (<ipython-input-3-b9809200e15c>, line 1)

In [5]:
for i in l:    # if u want to aviod some sort of error then use (pass)
    pass

In [6]:
s = "SHAH"   # if you want to extract string
for i in s :   # (i) is a local variable 
    print(i)

S
H
A
H

In [7]:
for i in l :
    print(i)
else :
    print("if for loop is going to complete itself then it will execute else")

1
2
3
4
shah
wali
1.4
if for loop is going to complete itself then it will execute else

In [8]:
for i in l :
    if i == 4 :
        break      # break is a reserve keyword in python
    print(i)
else:
    print("this is only execute only if for loop is going to complete itself")

1
2
3

In [9]:
s = "SHAHWALI"
for i in s :
    if i == 'L' :
        break
    print(i)
else :
    print("print string" , s)

S
H
A
H
W
A

In [10]:
t = (4,5,6,7,8,6,'shah')
for i in t :
    print(i)

4
5
6
7
8
6
shah

In [11]:
b = {4,5,6,7,7,7,7,7,7,8,'shah'}    #set
type(b)
print(b)

{4, 5, 6, 7, 8, 'shah'}

In [12]:
for i in b :
    print(i)

4
5
6
7
8
shah

In [13]:
d = {'key':'wali', 'contact' : 34624555 , 'position' : "xyz"}

In [14]:
for i in d :   # will extract key
    print(i)

key
contact
position

In [15]:
for i in d :    # will extract values
    print(d[i])

wali
34624555
xyz

In [16]:
for i in d :
    print(i, d[i])  # will gave you both key as well as values

key wali
contact 34624555
position xyz

In [17]:
for i in d :
    print(i,":", d[i])  # will gave you both key as well as values

key : wali
contact : 34624555
position : xyz

In [18]:
range(9)   #range is a function

range(0, 9)

In [19]:
list(range(9))

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [20]:
tuple(range(9))

(0, 1, 2, 3, 4, 5, 6, 7, 8)

In [21]:
for i in range(9) :
    print(i)

0
1
2
3
4
5
6
7
8

In [22]:
range(0,9) # if u mention the range

range(0, 9)

In [23]:
list(range(0,9))

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [24]:
tuple(range(0,9))

(0, 1, 2, 3, 4, 5, 6, 7, 8)

In [25]:
list(range(0,9 , 2))    # jumping range

[0, 2, 4, 6, 8]

In [26]:
list(range(0,9, -1))   # the output will be null because the direction as miss match

[]

In [27]:
list(range(9,0 , -1))  # this one will give you data because direction is correct

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [28]:
n = 4
for i in range(4) :
    for j in range(0, i+1) :
        print("Wali", end = " ")
    print("\n")   # use for changing the line

Wali

Wali Wali

Wali Wali Wali

Wali Wali Wali Wali

In [29]:
h = 5
for i in range(5) :
    for j in range(0, i+1) :
        print("*", end = ' ')
    print("\n")

*

* *

* * *

* * * *

* * * * *

In [30]:
n = 3
k = n
for i in range(n):
    k = k -1
    print(' ' *k, end = ' ')
    for j in range(i+1):
        print('wali', end = ' ')
    print()

   wali
  wali wali
 wali wali wali

In [31]:
n= 3 
for i in range(n) :
    for j in range(i,n-1):
        print("", end =" ")
    for j in range(i+1):
        print("*", end = ' ')
    print()

  *
 * *
* * *

In [32]:
n = 3
for i in range(n+1):
    print(' '*(n-i) + 'Wali '* i)

  Wali
 Wali Wali
Wali Wali Wali

In [33]:
n = 3
for i in range(n):
    for j in range(i,n-1):
        print(" " * len("wali"), end = " ")
    for j in range(i+1):
        print("wali", end = " ")
    for j in range(i):
        print("wali", end = " ")
    print()

          wali
     wali wali wali
wali wali wali wali wali

In [34]:
list(range(0))

[]

In [35]:
t = (3,23,45,67,2,4,5,6)

In [36]:
list(range(len(t)))   #create indexing

[0, 1, 2, 3, 4, 5, 6, 7]

In [37]:
t = (3,23,45,67,2,4,5,6)

for i in range(len(t)):
    print(i,t[i])

0 3
1 23
2 45
3 67
4 2
5 4
6 5
7 6

In [38]:
s = "shahwali"
range(len(s))

range(0, 8)

In [39]:
for i in range(len(s)) :
    print(i, s[i])   # both will be print indexing and elements

0 s
1 h
2 a
3 h
4 w
5 a
6 l
7 i

In [40]:
s = "ShahWali"

In [41]:
range(len(s))

range(0, 8)

In [42]:
list(range(len(s)))

[0, 1, 2, 3, 4, 5, 6, 7]

In [43]:
list(range(len(s), 0))

[]

In [44]:
list(range(len(s), 0 , -1))   #reverse

[8, 7, 6, 5, 4, 3, 2, 1]

In [45]:
list(range(len(s), -1 , -1))

[8, 7, 6, 5, 4, 3, 2, 1, 0]

In [46]:
list(range(len(s) -1, -1 , -1))

[7, 6, 5, 4, 3, 2, 1, 0]

In [47]:
for i in range(len(s) -1, -1 , -1):
    print(i, s[i])                        # reverse

7 i
6 l
5 a
4 W
3 h
2 a
1 h
0 S

In [48]:
d

{'key': 'wali', 'contact': 34624555, 'position': 'xyz'}

In [49]:
d.items()

dict_items([('key', 'wali'), ('contact', 34624555), ('position', 'xyz')])

In [50]:
for i in d.items() :
    print(i)

('key', 'wali')
('contact', 34624555)
('position', 'xyz')

In [51]:
for i in d.items() :
    print(i , type(i))

('key', 'wali') <class 'tuple'>
('contact', 34624555) <class 'tuple'>
('position', 'xyz') <class 'tuple'>

In [53]:
for i in d.items() :
    print(i , type(i), type(i[1]))

('key', 'wali') <class 'tuple'> <class 'str'>
('contact', 34624555) <class 'tuple'> <class 'int'>
('position', 'xyz') <class 'tuple'> <class 'str'>

In [54]:
# if you want to extract numerical number
l = ["shah", "wali" , 123456 , "shahwalieng1@gmail.com", 345, 64563]

In [55]:
# create a blank list
# i want to create a separtate list for numeric values
l1 = []
for i in l :
    if type(i) == int :
        l1.append(i)

In [56]:
l1

[123456, 345, 64563]

In [57]:
d = {1 : 345676, "name" : "shah", "email" : "shahwalieng1@gmail.com", 234 : "good", 66 : "lst"}

In [58]:
 for i in d :
    print(i)   # by default will print keys

1
name
email
234
66

In [59]:
# i am expecting the key  should be numeric
for i in d :
    if type(i) == int :
        print(i, ":" , d[i])

1 : 345676
234 : good
66 : lst

In [60]:
s = "aaaabbccd"
# expecting output
# a : 4 times
# b : 2 times
# c : 2 times
# d : 1 times

In [61]:
set(s)   # find unique values

{'a', 'b', 'c', 'd'}

In [62]:
# find the word how many times are their
for i in set(s) :
    print(i, ":", s.count(i))

c : 2
b : 2
d : 1
a : 4

In [64]:
# second way to check 
s.count('a')

4

In [65]:
i = 345346546453
for j in i :
    print(j)    # this type of stament will give error int object is not iterable

TypeError: 'int' object is not iterable

In [66]:
str(i)

'345346546453'

In [67]:
i = 345346546453
for j in str(i) :
    print(j)    # now this statment is fine this is iterable because of str

3
4
5
3
4
6
5
4
6
4
5
3

In [68]:
i = 345346546453
for j in str(i) :
    print(j, type(str(j)))

3 <class 'str'>
4 <class 'str'>
5 <class 'str'>
3 <class 'str'>
4 <class 'str'>
6 <class 'str'>
5 <class 'str'>
4 <class 'str'>
6 <class 'str'>
4 <class 'str'>
5 <class 'str'>
3 <class 'str'>

In [69]:
# tuple

t = ("shah", "wali", [1,2,3,4], (3,4,5,6), {"key1": "wali", "key2" : "khan"})

In [70]:
for i in t :
    print(i)

shah
wali
[1, 2, 3, 4]
(3, 4, 5, 6)
{'key1': 'wali', 'key2': 'khan'}

In [71]:
for i in t :
    if type(i) == list or type(i) == tuple :
        for j in i :
            if j == 3 :
                print(j)

3
3

In [72]:
# tuple
# if u want to check how many time are 3 is aavilable in tuple
t = ("shah", "wali", [1,2,3,4], (3,4,5,6), {3: "wali", "key2" : "khan"})

In [73]:
for i in t :
    if type(i) == list or type(i) == tuple or type(i) == dict:
        for j in i :
            if j == 3 :
                print(j)

3
3
3

In [74]:
t = ("shah", "wali", [1,2,3,4], (3,4,5,6), {3: 3, "key2" : "khan"})

In [76]:
for i in t :
    if type(i) == list or type(i) == tuple :
        for j in i :
            if j == 3 :
                print(j)
    if type(i) == dict :
        for k in i.items():
            print(k)

3
3
(3, 3)
('key2', 'khan')

In [77]:
# we want just print (3)

for i in t :
    if type(i) == list or type(i) == tuple :
        for j in i :
            if j == 3 :
                print(j)
    if type(i) == dict :
        for k, v in i.items():
            if k == 3 or v == 3 :
                print(k)
                print(v)

3
3
3
3

In [78]:
# these three statment are same
# statment one
a = 10
b = 20
c = 30

# statment two
a , b , c = 10, 20, 30

# statment three 
a,b,c = (10,20,30)   # tuple

In [82]:
set = {"python", "coding", "tips", "for", "beginners"}
print(set)
''.join(set)

{'beginners', 'python', 'coding', 'tips', 'for'}

'beginnerspythoncodingtipsfor'

In [83]:
set = {"python", "coding", "tips", "for", "beginners"}
print(set)
' '.join(set)

{'beginners', 'python', 'coding', 'tips', 'for'}

'beginners python coding tips for'

In [85]:
print(dict(("py","th","on")))

{'p': 'y', 't': 'h', 'o': 'n'}