In [1]:
# def is the name of a function

In [3]:
def test(a, b) :
    return a + b
#call to function
test(2,5)

7

In [5]:
test(b = 12, a = 3)

15

In [4]:
def test1(a, b) :
    '''This is my function for concatenation or addition'''
    return a + b
#call to function
test1("shah","wali")

'shahwali'

In [8]:
def test2(a,b,c,d,e) :
    return a,b,c,c,e
test2(3,4,5,6,7)

(3, 4, 5, 5, 7)

In [9]:
def test3(*a) :
    return a

test3(22,33)

(22, 33)

In [10]:
def test4(*shah) :
    return shah

test4(1,2,3,4,5,6)

(1, 2, 3, 4, 5, 6)

In [11]:
def test5(*a) :
    l = []
    for i in a :
        l.append(i)
    return l
test5(2,3,45,6,[1,2,3,4])

[2, 3, 45, 6, [1, 2, 3, 4]]

In [12]:
def test6(a,b,c,d, *m) :
    return a,b,c,d,m

test6(1,2,3,4,5,6,6,7,8,9,0,9) # the first four number is consider for (a,b,c,d)

(1, 2, 3, 4, (5, 6, 6, 7, 8, 9, 0, 9))

In [13]:
def test7(*m,a,b,c,d,e) :
    return m,a,b,c,d,e
test7(3,4,5,6,78,9,0,9,7)  # this will give you a typeerror

TypeError: test7() missing 5 required keyword-only arguments: 'a', 'b', 'c', 'd', and 'e'

In [14]:
# if you do this then they will execute
def test7(*m,a,b,c,d,e) :
    return m,a,b,c,d,e
test7(3,4,5,6,4,4,5,a = 6,b = 78,c = 9,d = 0,e = 97)

((3, 4, 5, 6, 4, 4, 5), 6, 78, 9, 0, 97)

In [15]:
def test8(**wali) :
    return wali

test8(4,5,6,7)  #this value give u errror

TypeError: test8() takes 0 positional arguments but 4 were given

In [16]:
def test8(**wali) :
    return wali

test8(b =4,c = 5,d = 6,e = 7)  # now this will be work

{'b': 4, 'c': 5, 'd': 6, 'e': 7}

In [17]:
d = {'b' : 4, 'c' : 6, 'd' : 8}
test8(d)

TypeError: test8() takes 0 positional arguments but 1 was given

In [18]:
def test9(*m, **s) :
    return m, s

test9(345,543,345,b = 6, c = 44, d = 88)

((345, 543, 345), {'b': 6, 'c': 44, 'd': 88})

In [19]:
def test10(*m) :
    n = 0
    for i in m :
        if type(i) == int :
            n = n+i   # addition
    return n
test10(2,3,4,5,6)

20

In [21]:
def test11(*m) :
    n = 1
    for i in m :
        if type(i) == int :
            n = n*i  # multiplication
    return n
test11(2,3)

6

In [22]:
lambda a ,b : a + b

In [23]:
n = lambda a ,b : a + b
n(4,5)

9

In [25]:
def test12(a,b) :
    return a + b
test12(4,5)

9

In [28]:
b = lambda *shah : shah   # * use for multiple parameters or things
b(55,5,5,5,22,3,3,6,2,7)

(55, 5, 5, 5, 22, 3, 3, 6, 2, 7)

In [29]:
t = (3,4,5,6,77,8,9)
l = []
for i in t :
    l.append(i)
l

[3, 4, 5, 6, 77, 8, 9]

In [30]:
[i for i in t]   # this will give you same result

[3, 4, 5, 6, 77, 8, 9]

In [31]:
s = "shahwali"

In [32]:
[i for i in s]

['s', 'h', 'a', 'h', 'w', 'a', 'l', 'i']

In [33]:
[i*i for i in range(10)]  # both resut are same just code way are different

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [35]:
l = [] 
for i in range(10):
    l.append(i*i)
l

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [36]:
l = lambda *x : [i**2 for i in x]
l(4,45,6,7,8,9)

[16, 2025, 36, 49, 64, 81]

In [ ]:
# example
test14(a = 7, b = "shah", c = 345, d = "shah", l = [2,3,4, 'shah'])

In [38]:
# find the number of strings in the list
def test14(**kwargs) :
    count = 0 
    for v in kwargs.values() :
        if type(v) == str or type(v) == list:
            count += 1
    return count
test14(a = 7, b = "shah", c = 345, d = "shah", l = [2,3,4, 'shah'])

3

In [39]:
# find the number of strings in the list
def test14(**kwargs) :
    count = 0 
    print(kwargs)
    for v in kwargs.values() :
        if type(v) == str or type(v) == list:
            count += 1
    return count
test14(a = 7, b = "shah", c = 345, d = "shah", l = [2,3,4, 'shah'])

{'a': 7, 'b': 'shah', 'c': 345, 'd': 'shah', 'l': [2, 3, 4, 'shah']}

3

In [40]:
# find the number of strings in the list
def test14(**kwargs) :
    count = 0 
    print(kwargs)
    print(kwargs.values())
    for v in kwargs.values() :
        if type(v) == str or type(v) == list:
            count += 1
    return count
test14(a = 7, b = "shah", c = 345, d = "shah", l = [2,3,4, 'shah'])

{'a': 7, 'b': 'shah', 'c': 345, 'd': 'shah', 'l': [2, 3, 4, 'shah']}
dict_values([7, 'shah', 345, 'shah', [2, 3, 4, 'shah']])

3

In [41]:
def test15(**kwargs) :
    return list(kwargs.values())
test15(a = 7, b = "shah", c = 345, d = "shah", l = [2,3,4, 'shah'])

[7, 'shah', 345, 'shah', [2, 3, 4, 'shah']]